<div class="modal-wrapper" id="add-user-modal">
    <div class="modal">
      <a href="#" onclick="closeModal()" class="modal-close">+</a>
      <div class="modal-title">
        <h2>Create New User</h2>
      </div>
      <div class="modal-body">
        <form id="add-user-form" method="post" action="/users" enctype="multipart/form-data" >
          <input type="text" placeholder="enter name" name="name" />
          <p class="error name-error"></p>
          <input type="email" placeholder="enter email" name="email" />
          <p class="error email-error"></p>
          <input type="text" placeholder="enter mobile" name="mobile" />
          <p class="error mobile-error"></p>
          <input
            type="password"
            placeholder="enter password"
            name="password"
            
          />
          <p class="error password-error"></p>
          <input type="file" name="avatar" />
          <p class="error avatar-error"></p>
          <input type="submit" value="Submit" />
          <p class="error common-error"></p>
        </form>
      </div>
    </div>
  </div>

  <script>
    const modal = document.querySelector("#add-user-modal");
    const form = document.querySelector("#add-user-form");

    const successToast = Toastify({
        text:"User wad added successfully! Refreshing the user list....",
        duration:1000,
    })

    function closeModal() {
      modal.style.display = "none";
    }
    function openModal() {
      modal.style.display = "block";
    }

    form.onsubmit = async function (event){
        event.preventDefault();

        const errorPlaceholders = document.querySelectorAll("p.error");
        errorPlaceholders.forEach((errorPlaceholder)=>{
            errorPlaceholder.textContent = "";
            errorPlaceholder.classList.remove("show");
        });

        const inputErrors = document.querySelectorAll("input.error");
        inputErrors.forEach((inputError)=>{
            inputError.classList.remove("error");
        })


        const formData = new FormData(form);

        let response = await fetch("/users",{
            method:"POST",
            body:formData,
        });
        let result = await response.json();
        if(result.errors){
            Object.keys(result.errors).forEach((filedName)=>{
                form[filedName].classList.add("error");
                let filed = document.querySelector(`.${filedName}-error`);
                filed.textContent = result.errors[filedName].msg;
                filed.classList.add("show");
            })
        }else{
            successToast.showToast();
            closeModal();
            document.querySelector("p.error").style.display="none";
            setTimeout(()=>{
                window.location.reload();
            },700);
        }

    }
  </script>